extends ../layout/main

block head 
  - var title = 'Главная'
  - var bodyClass = ''
  - var pageCode = 'main'
  -
    var snoska = {
      one: "Автоматически Запирающие Устройства — комплект оборудования, расположенный на подъездных дверях многоквартирного дома (доводчик, кнопка выхода, магнитный замок, блоки электроники, блоки питания, блок вызова и пр.)",
      two: "Клиент &mdash; собственник жилья/наниматель, заключивший договор на техническое обслуживание автоматически запирающих устройств (далее АЗУ)",
      three: "Ключи, которые продаются в магазинах города Иркутска, работаю ТОЛЬКО при наличии заключенного договора. Для активации ключа достаточно с зарегистрированного номера телефона отправить СМС с номером этого ключа (или нескольких ключей). Например: AB256DE5, DE8756AB",
      four: "Viber, Telegram",
      five: "Ведутся работы над созданием приложения под операционную систему Android. Плановый срок выхода первой версии &mdash; март 2018. Приложение позволит полностью полностью управлять всеми необходимыми функциями без необходимости заходить на сайт нашей компании",
      six: "Ведутся работы по внедрению данной технологии. Предполагаемый срок массового внедрения: апрель-май 2018 года.",
      seven: "Самым качественным дверным доводчиком является масляный. Даже в высококачественных доводчиках KING, которые использует наша компания, влияние уличной температуры на скорость закрывания двери велико. Внедрение температурных контроллеров и нагревательных элементов позволило исключить это влияние, что в свою очередь значительно увеличило стоимость самого изделия."
    }
block content  
  +header()

  section.advantages
    .container
      .row
        .col
          h2.subheading Наши преимущества


      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_1.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Стараемся услышать каждого
          p.advantages__item-content Профессиональный контактный центр ежедневно с 9:00 до 20:00 принимает звонки населения по вопросам эксплуатации #[span.tooltips(data-tooltips=snoska.one) АЗУ], а также заявки на выполнение ремонтных работ.
      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_2.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Заботимся об экономии Вашего времени
          p.advantages__item-content Заключение договора на техническое обслуживание #[span.tooltips(data-tooltips=snoska.one) АЗУ] можно провести в дистанционном режиме! У вас отпадает необходимость посещения нашего офиса по любым вопросам, что экономит массу времени наших #[span.tooltips(data-tooltips=snoska.two) клиентов].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_3.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Заняты хлопотами с новой квартирой?
          p.advantages__item-content Специально для новосёлов мы подготовили удобный пакет, позволяющий на первое время не отвлекаться на вопросы, связанные с заключением договора на #[span.tooltips(data-tooltips=snoska.one) АЗУ].
      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_4.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Мы позаботились о местах продажи
          p.advantages__item-content Мы организовали места продажи #[span.tooltips(data-tooltips=snoska.three) дополнительных договорных ключей], чтобы каждый мог приобрести их максимально близко. На нашем сайте в разделе #[a(href="key-retailers.html") «Пункты продажи ключей»] можно подобрать наиболее удобный вам магазин.
      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_5.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Современные способы оплаты
          p.advantages__item-content Мы обеспечиваем максимально быструю и надежную оплату услуг нашей компании! Вы можете воспользоваться системами «Сбербанк Онлайн», «Город», а также #[a(href='payment.html') онлайн-оплатой] на нашем сайте.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_6.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Удобное управление лицевым счетом
            a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content Вы всегда можете изменять список услуг, список номеров телефонов у членов семьи, контролировать баланс лицевого счета и расходы с него &mdash; из личного кабинета на сайте, распространенных #[span.tooltips(data-tooltips=snoska.four) месенджеров] или в #[span.tooltips(data-tooltips=snoska.five) мобильном приложении].
      

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_7.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Дистанционное управление доступом в подъезд
          p.advantages__item-content Наши собственные микроконтроллерные разработки позволяют вам использовать для этого привычные смартфоны. Телефонным звонком на номер #[a.link(href='tel:+79500532966') +79500532966], кнопкой «Open» в Telegram или #[span.tooltips(data-tooltips=snoska.five) Android-приложением] можно открыть подъездную дверь, находясь на любом расстоянии от неё.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_8.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Использование смартфона в качестве ключа
            a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content В сибирские морозы нет особого желания искать ключи от подъезда. Микроконтроллерные датчики, расположенные на подъездной двери, «увидят» ваш смартфон и идентифицируют вас. Дверь откроется при нажатии на #[span.tooltips(data-tooltips=snoska.six) звёздочку].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_9.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Погодоведомое оборудование
            a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content Инновационные доработки дверных доводчиков позволяют им одинаково эффективно #[span.tooltips(data-tooltips=snoska.seven) работать] в любом температурном диапазоне.
