extends ../layout/main

block head 
  - var title = 'Главная'
  - var bodyClass = ''
  - var pageCode = 'main'
  -
    var snoska = {
      azu: "Автоматически Запирающие Устройства — комплект оборудования, расположенный на подъездных дверях многоквартирного дома: доводчик, кнопка выхода, магнитный замок, блоки электроники, блоки питания, блок вызова и пр.",
      client: "Клиент &mdash; собственник жилья/наниматель, заключивший договор на техническое обслуживание автоматически запирающих устройств (далее АЗУ)",
      keyActivation: "Ключи, которые продаются в магазинах, работаю ТОЛЬКО при наличии заключенного договора. Для активации ключа достаточно с зарегистрированного телефона на номер 89500532966 отправить СМС с номером этого ключа (или нескольких ключей). Например: AB256DE5, DE8756AB",
      bots: "Viber, Telegram",
      app: "<p style='float: left; width: calc(100% - 115px); margin-top: 0;'>Для загрузки приложения на мобильном телефоне нажмите на QR-код или перейдите по ссылке, сфотографировав его.</p><img src='"+contacts.apps.androidQR+"' width='100' height='100' style='float: right;' />",
      star: "Ведутся работы по внедрению данной технологии. Предполагаемый срок массового внедрения: конец 2018 года.",
      closer: "Самым качественным типом дверных доводчиков является масляный. Даже в высококачественных доводчиках (например, KING), которые использует наша компания, влияние перепадов уличных температур велико для скорости закрытия двери. Внедрение температурных контроллеров и нагревательных элементов позволило минимизировать это влияние.",
      package: "КОМПЛЕКТ НОВОСЕЛА - включает в себя КЛЮЧ НОВОСЕЛА, инструкцию пользования системой с информацией о стоимости услуг по договору, комплект платных договорных ключей.",
      sberbank: "При любом способе осуществления платежа через Сбербанк, в том числе Сбербанк-Онлайн, денежные средства поступают в течение 3 РАБОЧИХ дней."
    }
block content  
  +header()

  section.advantages
    .container
      .row
        .col
          h2.subheading Наши преимущества


      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_1.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Стараемся услышать каждого
          p.advantages__item-content Профессиональный контактный центр ежедневно с 9:00 до 20:00 принимает звонки населения по вопросам эксплуатации #[span.tooltips(data-tooltips=snoska.azu) АЗУ], а также заявки на выполнение ремонтных работ.
      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_2.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Заботимся об экономии Вашего времени
          p.advantages__item-content Заключение договора на техническое обслуживание #[span.tooltips(data-tooltips=snoska.azu) АЗУ] можно провести в дистанционном режиме! У вас отпадает необходимость посещения нашего офиса по любым вопросам, что экономит массу времени наших #[span.tooltips(data-tooltips=snoska.client) клиентов].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_3.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Заняты хлопотами с новой квартирой?
          p.advantages__item-content Специально для новосёлов мы подготовили удобный #[span.tooltips(data-tooltips=snoska.package) комплект], позволяющий на первое время не отвлекаться на вопросы, связанные с заключением договора на #[span.tooltips(data-tooltips=snoska.azu) АЗУ].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_4.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Мы позаботились о местах продажи
          p.advantages__item-content Мы организовали места продажи #[span.tooltips(data-tooltips=snoska.keyActivation) дополнительных договорных ключей], чтобы каждый мог приобрести их максимально близко. На нашем сайте в разделе #[a.link(href="key-retailers.html") «Пункты продажи ключей»] можно подобрать наиболее удобный вам магазин.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_5.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Современные способы оплаты
          p.advantages__item-content Платежные сервисы #[span.tooltips(data-tooltips=snoska.sberbank) Сбербанка] и система «Город» всегда доступны для Вашего комфорта. #[a.link(href='payment.html') Онлайн-оплата] с нашего сайта позволит в режиме онлайн провести платежи.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_6.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Удобное управление лицевым счетом
            //- a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content Вы всегда можете изменять список услуг, список номеров телефонов у членов семьи, контролировать баланс лицевого счета и расходы с него &mdash; из личного кабинета на сайте, распространенных #[span.tooltips(data-tooltips=snoska.bots) месенджеров] или в #[span.tooltips(data-tooltips=snoska.app) мобильном приложении].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_7.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Дистанционное управление доступом в подъезд
          p.advantages__item-content Наши собственные микроконтроллерные разработки позволяют вам использовать для этого привычные смартфоны. Телефонным звонком на номер 
            a.link(href='tel:'+contacts.phone.bot) #{contacts.phone.bot}
            | , кнопкой «Open» в Viber и Telegram или Android-приложением можно открыть подъездную дверь, находясь на любом расстоянии от неё.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_8.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Использование смартфона в качестве ключа
            //- a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content В сибирские морозы нет особого желания искать ключи от подъезда. Микроконтроллерные датчики, расположенные на подъездной двери, «увидят» ваш смартфон и идентифицируют вас. Дверь откроется при нажатии на #[span.tooltips(data-tooltips=snoska.star) звёздочку].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_9.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Погодоведомое оборудование
            //- a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content Инновационные доработки дверных доводчиков позволяют им одинаково комфортно для жителей #[span.tooltips(data-tooltips=snoska.closer) работать] в любом температурном диапазоне.
