extends ../layout/main

block head 
  - var title = 'Главная'
  - var bodyClass = ''
  - var pageCode = 'main'
  -
    var snoska = {
      azu: "Автоматически Запирающие Устройства —&nbsp;комплект оборудования, расположенный на&nbsp;подъездных дверях многоквартирного дома: доводчик, кнопка выхода, магнитный замок, блоки электроники, блоки питания, блок вызова и&nbsp;пр.",
      client: "Клиент &mdash;&nbsp;собственник жилья/наниматель, заключивший договор на&nbsp;техническое обслуживание автоматически запирающих устройств (далее АЗУ)",
      keyActivation: "Ключи, которые продаются в&nbsp;магазинах, работаю ТОЛЬКО при&nbsp;наличии заключенного договора.<br>Для&nbsp;активации ключа достаточно с&nbsp;зарегистрированного телефона на&nbsp;номер 89500532966 отправить СМС с&nbsp;номером этого ключа (или&nbsp;нескольких ключей). Например: AB256DE5, DE8756AB",
      bots: "<a href="+contacts.bots.viber+">Viber</a>, <a href="+contacts.bots.telegram+">Telegram</a>",
      app: "<div class='tooltip__inner-wrap'><p>Для&nbsp;загрузки приложения на&nbsp;мобильном телефоне нажмите на&nbsp;QR-код или&nbsp;перейдите по&nbsp;ссылке, сфотографировав его.</p><!--noindex--><a href="+contacts.apps.android+" rel='nofollow' target='_blank'><img class='tooltip__qr-code qr-code' src='"+contacts.apps.androidQR+"' /></a><!--/noindex--></div>",
      star: "Ведутся работы по&nbsp;внедрению данной технологии. Предполагаемый срок массового внедрения: конец&nbsp;2018&nbsp;года.",
      closer: "Самым качественным типом дверных доводчиков является масляный. Даже в&nbsp;высококачественных доводчиках (например, KING), которые использует наша компания, влияние перепадов уличных температур велико для&nbsp;скорости закрытия двери. Внедрение температурных контроллеров и&nbsp;нагревательных элементов позволило минимизировать это&nbsp;влияние.",
      package: "КОМПЛЕКТ НОВОСЕЛА &mdash;&nbsp;включает в&nbsp;себя КЛЮЧ&nbsp;НОВОСЕЛА, инструкцию пользования системой с&nbsp;информацией о&nbsp;стоимости услуг по&nbsp;договору, комплект платных договорных ключей.",
      sberbank: "При&nbsp;любом способе осуществления платежа через Сбербанк, в&nbsp;том числе «Сбербанк&nbsp;Онлайн», денежные средства поступают в&nbsp;течение 3&nbsp;РАБОЧИХ дней."
    }
block content  
  +header()

  section.advantages
    .container
      .row
        .col
          h2.subheading Наши преимущества


      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_1.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Стараемся услышать каждого
          p.advantages__item-content Профессиональный контактный центр ежедневно с&nbsp;9:00 до&nbsp;20:00 принимает звонки населения по&nbsp;вопросам эксплуатации #[span.tooltips(data-tooltips=snoska.azu) АЗУ], а&nbsp;также заявки на&nbsp;выполнение ремонтных работ.
      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_2.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Заботимся об&nbsp;экономии Вашего времени
          p.advantages__item-content Заключение договора на&nbsp;техническое обслуживание #[span.tooltips(data-tooltips=snoska.azu) АЗУ] можно провести в&nbsp;дистанционном режиме! У&nbsp;вас отпадает необходимость посещения нашего офиса по&nbsp;любым вопросам, что&nbsp;экономит массу времени наших #[span.tooltips(data-tooltips=snoska.client) клиентов].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_3.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Заняты хлопотами с&nbsp;новой квартирой?
          p.advantages__item-content Специально для&nbsp;новосёлов мы подготовили удобный #[span.tooltips(data-tooltips=snoska.package) комплект], позволяющий первое время не&nbsp;отвлекаться на&nbsp;вопросы, связанные с&nbsp;заключением договора на #[span.tooltips(data-tooltips=snoska.azu) АЗУ].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_4.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Мы позаботились о&nbsp;местах продажи
          p.advantages__item-content Мы организовали места продажи #[span.tooltips(data-tooltips=snoska.keyActivation) дополнительных договорных ключей], чтобы&nbsp;каждый мог приобрести их максимально близко. На&nbsp;нашем сайте в&nbsp;разделе #[a.link(href="key-retailers.html", target='_blank') «Пункты продажи ключей»] можно подобрать наиболее удобный вам магазин.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_5.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Современные способы оплаты
          p.advantages__item-content Платежные сервисы #[span.tooltips(data-tooltips=snoska.sberbank) Сбербанка] и&nbsp;система «Город» всегда доступны для&nbsp;Вашего комфорта. #[a.link(href='payment.html', target='_blank') Онлайн-оплата] с&nbsp;нашего сайта позволит провести платежи максимально быстро из&nbsp;любой точки мира.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_6.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Удобное управление лицевым счетом
            //- a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content Вы всегда можете изменять список услуг, список номеров телефонов у&nbsp;членов семьи, контролировать баланс лицевого счета и&nbsp;расходы с&nbsp;него &mdash;&nbsp;из&nbsp;личного кабинета на&nbsp;сайте, распространенных #[span.tooltips(data-tooltips=snoska.bots) мессенджеров] или&nbsp;в #[span.tooltips(data-tooltips=snoska.app) мобильном приложении].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_7.png", alt="image")
        .advantages__item-desc
          h3.subheading-level-three Дистанционное управление доступом в&nbsp;подъезд
          p.advantages__item-content Наши собственные микроконтроллерные разработки позволяют вам использовать для&nbsp;этого привычные смартфоны. Телефонным звонком на&nbsp;номер 
            a.link(href='tel:'+contacts.phone.bot) #{contacts.phone.bot}
            | , кнопкой&nbsp;«Open» в&nbsp;#[a.link(href=contacts.bots.viber) Viber] и&nbsp;#[a.link(href=contacts.bots.telegram) Telegram] или&nbsp;#[a.link(href=contacts.apps.android, target='_blank') Android&#8209;приложением] можно открыть подъездную дверь, находясь на&nbsp;любом расстоянии от&nbsp;неё.

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_8.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Использование смартфона в&nbsp;качестве ключа
            //- a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content В&nbsp;сибирские морозы нет особого желания искать ключи от&nbsp;подъезда. Микроконтроллерные датчики, расположенные на&nbsp;подъездной двери, «увидят» ваш смартфон и&nbsp;идентифицируют вас. Дверь откроется при&nbsp;нажатии на #[span.tooltips(data-tooltips=snoska.star) звёздочку].

      .advantages__item
        .advantages__item-img
          img(src="img/content/advant_9.png", alt="image")
        .advantages__item-desc
          .advantages__item-head
            h3.subheading-level-three Погодоведомое оборудование
            //- a(href="#").btn.btn--sm
              +svg('download') 
              | Скачать приложение
          p.advantages__item-content Инновационные доработки дверных доводчиков позволяют им одинаково комфортно для&nbsp;жителей #[span.tooltips(data-tooltips=snoska.closer) работать] в&nbsp;любом температурном диапазоне.
