extends ../layout/main

block head 
  - var title = 'Инструкция по использованию'
  - var bodyClass = ''
  - var pageCode = 'instruction'
  - 
    const snoska = {
      azu: "Автоматически Запирающие Устройства —&nbsp;комплект оборудования, расположенный на&nbsp;подъездных дверях многоквартирного дома: доводчик, кнопка выхода, магнитный замок, блоки электроники, блоки питания, блок вызова и&nbsp;пр.",
      regParam: 'КодДоступа с&nbsp;КЛЮЧА НОВОСЕЛА и&nbsp;номер квартиры',
      ourOffice: 'г.&nbsp;Иркутск, ул.&nbsp;Декабрьских Событий, д.&nbsp;100, оф.&nbsp;311 (пл.&nbsp;Декабристов, слева от&nbsp;ПФ&nbsp;РФ, Деловой центр МЕГАПОЛИС —&nbsp;наверх по&nbsp;остекленной лестнице).<br>Реж: <time>Пн-Пт:&nbsp;10:00-14:00, 15:00-18:00</time>)',
      beforeGetIn: 'Если Вы используете КодДоступа перед отправкой СМС —&nbsp;он заблокируется автоматически.<br>Отправка СМС разблокирует его в&nbsp;течение часа.',
      tempPass: 'Для&nbsp;входа в&nbsp;подъезд наберите на&nbsp;клавиатуре вызывной панели 5&nbsp;цифр —&nbsp;дверь откроется.  КодДоступа действует в&nbsp;течение двухмесячного срока с&nbsp;даты его первого использования. В&nbsp;течение этого срока Вам необходимо выбрать вариант взаимодействия с&nbsp;домофонной организацией.',
      accessKey: 'КЛЮЧ&nbsp;НОВОСЕЛА (ламинированная карта) после ее регистрации работает без&nbsp;ограничения срока действия. Поднесите магнитный ключ-карту к&nbsp;считывателю, и&nbsp;дверь откроется.',
      advPayment: 'Рекомендованный платеж &mdash;&nbsp;500&nbsp;рублей. Вы можете внести любую сумму, исходя из&nbsp;информации о&nbsp;стоимости услуг по&nbsp;Вашему договору.',
      contractKey: 'Ключи, которые продаются в&nbsp;магазинах города, работают ТОЛЬКО при&nbsp;заключенном договоре (т.е.&nbsp;были поступления оплаты на&nbsp;номер Вашего договора) и&nbsp;положительном его балансе.',
      sms: 'С&nbsp;зарегистрированного телефона на&nbsp;номер ' + contacts.phone.bot + ' отправьте СМС с&nbsp;кодом ключа. Несколько ключей можно отправить в&nbsp;одном сообщении (пример: AB256DE5, DE8756AB)',
      androidApp: 'В&nbsp;разделе «Ключи» приложения есть удобный сервис управления ключами, в&nbsp;том&nbsp;числе их добавления.',
      acquiring: 'Собственникам помещения и&nbsp;лицам, совместно с&nbsp;ними проживающим, (согласно ст.&nbsp;31&nbsp;ЖК&nbsp;РФ) бездоговорные ключи-карты предоставляются бесплатно. При&nbsp;отсутствии документов, подтверждающих факт совместного проживания по&nbsp;интересующему адресу, дополнительные бездоговорные ключи собственник может приобрести в&nbsp;офисе компании.'
    }

append head
  script.
    window.hashName = window.location.hash
    window.location.hash = ''

block content  
  +header_min()

  .container
    .row
      .col
        h2.subheading Инструкция по&nbsp;использованию

  section.instruction
    
    .instruction__content
      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что такое домофон?
          p.instruction__desc
            | На&nbsp;подъездных дверях многоквартирного дома смонтирована система автоматически запирающих устройств, блокирующая беспрепятственный доступ посторонним.
          p.instruction__desc
            b.instruction__desc-title Обратите внимание!
            | Бытует #[strong ошибочное] мнение, что&nbsp;домофон располагается в&nbsp;квартире, поэтому некоторые собственники отказываются от&nbsp;заключения договора, т.к.&nbsp;«в&nbsp;квартире мне домофон не&nbsp;нужен». В&nbsp;квартире устанавливается не&nbsp;домофон, а&nbsp;лишь #[strong переговорное устройство] —&nbsp;пульт дистанционного управления домофоном. Обслуживание переговорного устройства —&nbsp;это дополнительная услуга, которая&nbsp;оплачивается собственником отдельно и&nbsp;ежемесячно. В&nbsp;настоящий момент стоимость этой услуги —&nbsp;0&nbsp;(ноль) рублей в&nbsp;месяц.
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_0.png", alt="image")


      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как заключить договор?
          p.instruction__desc
            b.instruction__desc-title Необходимость заключения договора
            | Для&nbsp;бесперебойной работы этой системы необходима регулярная его регулировка и&nbsp;оперативный ремонт. В&nbsp;этих целях мы предлагаем собственниками/нанимателям заключить договор на&nbsp;техническое сопровождение автоматически запирающих устройств (домофонов). С&nbsp;текстом договора можно ознакомиться #[a.link(href=docs.dogovor, target='_blank') по&nbsp;ссылке].
          p.instruction__desc 
            b.instruction__desc-title Два варианта регистрации договора
            | В&nbsp;настоящий момент мы используем два основных варианта дистанционной регистрации договора: #[a.link.link--dashed(href='#kak-zaregistrirovat-dogovor-po-parolyu', data-anchor) по&nbsp;паролю] и #[a.link.link--dashed(href='#chto-takoe-klyuch-novosyola', data-anchor) по&nbsp;ключу новосёла]. 
            br
            | О&nbsp;том, как это сделать, написано в&nbsp;следующих пунктах инструкции.

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_1.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что важно знать?
          p.instruction__desc 
            b.instruction__desc-title Согласие на&nbsp;СМС
            | Отправляя СМС-запросы в&nbsp;наш адрес, вы соглашаетесь получать СМС-сообщения информацией и&nbsp;прочими уведомления от&nbsp;«ПРО&nbsp;ДОМОФОН». Номер телефона, с&nbsp;которого вы отправите СМС-сообщение с #[span.tooltips(data-tooltips=snoska.regParam) регистрационными параметрами], будет занесён в&nbsp;базу в&nbsp;качестве контактного.

          p.instruction__desc 
            b.instruction__desc-title Обратите внимание!
            | Изначально пароли и&nbsp;ключи внесены во&nbsp;все подъезды жилого комплекса и&nbsp;могут открыть любую дверь, но&nbsp;при&nbsp;первом их использовании система запоминает адрес, где&nbsp;были приложены ключи или&nbsp;набраны пароли впервые (доступ в&nbsp;остальные адреса будет заблокирован). Не&nbsp;проверяйте работу ключа или&nbsp;пароля на&nbsp;других объектах, иначе&nbsp;затем вы не&nbsp;сможете попасть в&nbsp;свой собственный подъезд!
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_2.png", alt="image")
 
      .instruction__item#kak-zaregistrirovat-dogovor-po-parolyu
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как зарегистрировать договор по&nbsp;паролю?
          p.instruction__desc 
            b.instruction__desc-title В&nbsp;каких случаях используется?
            | Используется при&nbsp;смене собственника квартиры, когда&nbsp;новому владельцу предыдущий не&nbsp;передал КЛЮЧ&nbsp;НОВОСЕЛА.

          p.instruction__desc 
            b.instruction__desc-title Где&nbsp;и&nbsp;как получить такой пароль?
            | Как&nbsp;правило, в&nbsp;офисе управляющей организации или&nbsp;в #[span.tooltips(data-tooltips=snoska.ourOffice) нашем офисе] #[a.link(href='http://dom38.ru/ftp/99/ds100.jpg', data-fancybox) (фото)], предъявив паспорт и&nbsp;документы, дающие вам право входить в&nbsp;подъезд. После&nbsp;этого Вам выдадут #[span.tooltips(data-tooltips=snoska.tempPass) временный пароль] и&nbsp;инструкцию по&nbsp;его использованию.

          p.instruction__desc 
            b.instruction__desc-title Как начать пользоваться?
            | Под&nbsp;защитной полосой располагается Код&nbsp;Доступа, набрав который, Вы сможете войти в&nbsp;подъезд вашего дома.
            br
            | #[em.instruction__desc-alert ВНИМАНИЕ:] #[span.tooltips(data-tooltips=snoska.beforeGetIn) Перед&nbsp;входом в&nbsp;подъезд] по&nbsp;этому коду #[em.instruction__desc-alert ОБЯЗАТЕЛЬНО] необходимо отправить СМС-сообщение на&nbsp;номер #[a.link(href="sms:"+contacts.phone.bot)= contacts.phone.bot] с&nbsp;содержанием:
            code.instruction__code КодДоступа [пробел] НомерКвартиры

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_3.png", alt="image")

      .instruction__item#chto-takoe-klyuch-novosyola
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что такое Ключ&nbsp;новосёла?
          p.instruction__desc 
            b.instruction__desc-title Если после&nbsp;приобретения квартиры Вам передали КЛЮЧ&nbsp;НОВОСЕЛА
            | Ламинированная карта является #[span.tooltips(data-tooltips=snoska.accessKey) ключом доступа] в&nbsp;подъезд. Также&nbsp;на&nbsp;карте находится #[span.tooltips(data-tooltips=snoska.tempPass) КодДоступа], который Вы можете сообщить бригадам отделочников.

          p.instruction__desc 
            b.instruction__desc-title Как начать пользоваться?
            | Перед&nbsp;входом в&nbsp;подъезд с&nbsp;использование КЛЮЧА&nbsp;НОВОСЕЛА или&nbsp;КодаДоступа отправьте СМС-сообщение на&nbsp;номер #[a.link(href="sms:"+contacts.phone.bot)= contacts.phone.bot] с&nbsp;содержанием: 
            code.instruction__code КодДоступа [пробел] НомерКвартиры

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_4.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как оплатить услуги?
          p.instruction__desc Для&nbsp;Вашего удобства доступны 3&nbsp;способа дистанционной оплаты:
          ol.instruction__desc
            li Интернет-платеж на&nbsp;сайте &mdash;&nbsp;мгновенная оплата по&nbsp;реквизитам пластиковой банковской карты. Перейдите #[a.link(href='payment.html', target='_blank') по&nbsp;ссылке], введите номер договора, проверьте адрес и&nbsp;проведите платеж.
            li Банкоматы и&nbsp;отделения СБЕРБАНКА &mdash;&nbsp;по&nbsp;ИНН, указанному в&nbsp;разделе «Реквизиты для&nbsp;оплаты» КЛЮЧА&nbsp;НОВОСЕЛА, найдите домофонную компанию, следуйте указаниям системы.
              br
              em.instruction__desc-alert ВНИМАНИЕ! При&nbsp;оплате через&nbsp;Сбербанк, в&nbsp;том&nbsp;числе «Сбербанк&nbsp;Онлайн» &mdash;&nbsp;срок зачисления средств до&nbsp;3&nbsp;РАБОЧИХ дней!
            li Система «ГОРОД». Через терминалы и&nbsp;кассы системы, а&nbsp;также через&nbsp;сайт #[a.link(href='http://uplati.ru/', target='_blank', rel='nofollow') uplati.ru]. Все необходимые реквизиты указаны на&nbsp;КЛЮЧЕ&nbsp;НОВОСЕЛА в&nbsp;разделе «Реквизиты для&nbsp;оплаты».

          p.instruction__desc
            b.instruction__desc-title Как заключить договор?
            | Для&nbsp;заключения договора на&nbsp;тех.&nbsp;обслуживание #[span.tooltips(data-tooltips=snoska.azu) АЗУ] достаточно внести первый #[span.tooltips(data-tooltips=snoska.advPayment) авансовый платеж] любым вышеописанным способом.


          //- p.instruction__desc 
          //-   b.instruction__desc-title Интернет (мгновенная оплата)
          //-   | Оплата #[a.link(href="payment.html") по ссылке]. Введите номер договора, проверьте адрес и оплатите картой.
          //- p.instruction__desc 
          //-   b.instruction__desc-title Банкоматы и отделения «Сбербанка» (зачисление до 3 рабочих дней)
          //-   | Также возможна оплата через систему «Сбербанк Онлайн»
          //- p.instruction__desc 
          //-   b.instruction__desc-title Система «ГОРОД» (мгновенная оплата)
          //-   | Через терминалы и кассы системы, а также через сайт 
          //-   //noindex
          //-   a.link(href="//uplati.ru", target='_blank', rel='nofollow') uplati.ru
          //-   ///noindex
          //-   | .
          //- p.instruction__desc 
          //-   b.instruction__desc-title Получение реквизитов для оплаты
          //-   | Отправьте на #[a.instruction__desc-link(href="tel:"+contacts.phone.bot)= contacts.phone.bot] с контактного телефона СМС содержанием:
          //-   br
          //-   code.instruction__code *3
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_5.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дополнительные договорные ключи?
          p.instruction__desc
            b.instruction__desc-title Где приобрести и&nbsp;как активировать
            | С&nbsp;перечнем мест продаж #[span.tooltips(data-tooltips=snoska.contractKey) договорных ключей] Вы можете ознакомиться по #[a.link(href='key-retailers.html', target='_blank') ссылке]. После&nbsp;того, как Вы дадите согласие на&nbsp;определение Вашего местоположения, система отсортирует адреса по&nbsp;удаленности от&nbsp;Вас.
            br
            //noindex
            | Привязка ключей к&nbsp;договору производится отправкой номеров ключей коротким сообщением через #[span.tooltips(data-tooltips=snoska.sms) СМС]/#[a.link(href=contacts.bots.viber) Viber]/#[a.link(href=contacts.bots.telegram) Telegram]/#[span.tooltips(data-tooltips=snoska.androidApp) Android-приложение]. 
            | Ключ будет готов к&nbsp;использованию в&nbsp;течение часа. 
            ///noindex
            br
            | Внимание! Для&nbsp;жителей, выбравших БЕЗДОГОВОРНЫЙ вариант взаимодействия, такие ключи не&nbsp;подходят. Обратитесь в&nbsp;офис компании с&nbsp;документами на&nbsp;право собственности и&nbsp;паспортом для #[span.tooltips(data-tooltips=snoska.acquiring) приобретения] бездоговорных карт-ключей.

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_6.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дистанционное управление через Viber
          p.instruction__desc
            b.instruction__desc-title Привязка Вашего Viber-аккаунта к&nbsp;«ПРО&nbsp;ДОМОФОН»
            //noindex
            | Для&nbsp;надежного общения с&nbsp;системой «ПРО&nbsp;ДОМОФОН» и&nbsp;дистанционного управления подъездной дверью пройдите регистрацию в&nbsp;нашем VIBER-bot. С&nbsp;зарегистрированного телефона перейдите по&nbsp;ссылке #[a.link(href=contacts.bots.viberText) Viber] и&nbsp;следуйте поступающим инструкциям.
            ///noindex
          p.instruction__desc
            b.instruction__desc-title Как управлять дверью через&nbsp;Viber?
            | После&nbsp;успешной регистрации в&nbsp;нижней части окна публичного чата «ПРО&nbsp;ДОМОФОН» появятся кнопки управления, в&nbsp;том&nbsp;исле кнопка «Открыть&nbsp;дверь»

        .instruction__part.instruction__figure
          .instruction__img 
            //noindex
            a.instruction__desc-link(href=contacts.bots.viberText): img(src="img/content/inst_7.png", alt="image")
            ///noindex

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Android-смартфон и&nbsp;приложение
          p.instruction__desc
            //noindex
            b.instruction__desc-title Установка Android-приложения
            | Для&nbsp;установки приложения перейдите #[a.link(href=contacts.apps.android, target='_blank') по&nbsp;ссылке].
            ///noindex

          p.instruction__desc
            b.instruction__desc-title Возможности
            | Управляйте договором, оплачивайте услуги, заказывайте техническую поддержку и&nbsp;ремонт, управляйте доступом в&nbsp;подъезд с&nbsp;виджета программы.
          //-p.instruction__desc
            img(src=contacts.apps.androidQR, alt="image").qr-code

        .instruction__part.instruction__figure
          .instruction__img 
            //noindex
            a.instruction__desc-link(href=contacts.apps.android): img(src="img/content/inst_8.png", alt="image")
            ///noindex

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Список доступных СМС-команд
          p.instruction__desc
            b.instruction__desc-title Проверка баланса и&nbsp;другие команды
            | Чтобы&nbsp;проверить баланс договора, заказать установку/подключение трубки и&nbsp;получить прочую информацию &mdash;&nbsp;в&nbsp;ответ на&nbsp;любое сообщение нашей системы отправьте знак вопроса &mdash; #[strong «?»] по номеру #[a.link(href="sms:"+contacts.phone.bot+"?body=?")= contacts.phone.bot]. В&nbsp;ответ система отправит список доступных команд: 
            br
            | #[strong ?] &mdash;&nbsp;получить список доступных команд
            br
            | #[strong *0] &mdash;&nbsp;проверить текущий баланс и&nbsp;узнать параметры договора
            br
            | #[strong *3] &mdash;&nbsp;получить реквизиты для&nbsp;внесения аванса
            br
            | #[strong *4] &mdash;&nbsp;вызвать мастера для&nbsp;становки или&nbsp;подключения ранее установленной трубки
            br
            | #[strong *5 Номер] &mdash;&nbsp;изменить вызывной номер квартиры
            br
            | #[strong *6] &mdash;&nbsp;получить однодневный пароль (2&nbsp;руб./сутки)
            br
            | #[strong *7] &mdash;&nbsp;открыть подъездную дверь
            br
            | #[strong *8] &mdash;&nbsp;привязать к&nbsp;договору телефоны членов семьи (до&nbsp;3 на&nbsp;договор)
            br
            | #[strong *800] &mdash;&nbsp;подключить Viber или&nbsp;Telegram взамен СМС
            br
            | #[strong *911 ОписаниеНеисправности] &mdash;&nbsp;подать заявку на&nbsp;ремонт

        .instruction__part.instruction__figure
          .instruction__img 
            img(src="img/content/inst_9.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дополнительная информация
          p.instruction__desc
            b.instruction__desc-title Слишком сложно написано или&nbsp;не&nbsp;«дружите» интернетом?
            | Перезвоните по&nbsp;телефону контактного центра или&nbsp;посетите #[span.tooltips(data-tooltips=snoska.ourOffice) наш офис] #[a.link(href='http://dom38.ru/ftp/99/ds100.jpg', data-fancybox) (фото)] в&nbsp;рабочее время.

          p.instruction__desc
            b.instruction__desc-title Техническая поддержка
            | Мы рады принять конструктивные предложения по&nbsp;улучшению нашей системы. Предложения можете отправлять по&nbsp;адресу электронной почты: 
            a.link(href="mailto:"+contacts.email)= contacts.email

          p.instruction__desc
            b.instruction__desc-title Сделать заявку на&nbsp;вызов мастера
            | При&nbsp;неверной работе домофона Вы можете сделать с&nbsp;кнопок управления чата&nbsp;#[a.link(href=contacts.bots.viber) Viber], Android-приложения или&nbsp;просто позвонив по&nbsp;телефонам 
            a.link(href="tel:"+contacts.phone.support1) #{contacts.phone.support1}
            | ,  
            a.link(href="tel:"+contacts.phone.support2) #{contacts.phone.support2}

        .instruction__part.instruction__figure
          .instruction__img 
            img(src="img/content/inst_10.png", alt="image")
