extends ../layout/main

block head 
  - var title = 'Инструкция по использованию'
  - var bodyClass = ''
  - var pageCode = 'instruction'
  - 
    const snoska = {
      azu: "Автоматически Запирающие Устройства — комплект оборудования, расположенный на подъездных дверях многоквартирного дома: доводчик, кнопка выхода, магнитный замок, блоки электроники, блоки питания, блок вызова и пр.",
      regParam: 'КодДоступа с КЛЮЧА НОВОСЕЛА и номер квартиры',
      ourOffice: 'г. Иркутск, ул. Декабрьских Событий, д. 100, оф. 311 (пл. Декабристов, слева от ПФ РФ, Деловой центр МЕГАПОЛИС - наверх по остекленной лестнице).<br>Реж: <time>Пн-Пт: 10:00-14:00, 15:00-18:00</time>)',
      beforeGetIn: 'Если Вы используете КодДоступа перед отправкой СМС - он заблокируется автоматически. Отправка СМС его разблокирует в течение часа.',
      tempPass: 'Для входа в подъезд наберите на клавиатуре вызывной панели 5 цифр - дверь откроется.  КодДоступа действует в течение двухмесячного срока с даты его первого использования. В течение этого срока Вам необходимо выбрать вариант взаимодействия с домофонной организацией.',
      accessKey: 'КЛЮЧ НОВОСЕЛА (ламинированная карта) после ее регистрации работает без ограничения срока действия. Поднесите магнитный ключ-карту к считывателю, и дверь откроется.',
      advPayment: 'Рекомендованный платеж &mdash; 500 рублей. Вы можете внести любую сумму, исходя из информации о стоимости услуг по Вашему договору.',
      contractKey: 'Ключи, которые продаются в магазинах города, работают ТОЛЬКО при заключенном договоре (т.е. были поступления оплаты на номер Вашего договора) и положительном его балансе.',
      sms: 'С зарегистрированного телефона на номер ' + contacts.phone.bot + ' отправьте СМС с кодом ключа. Несколько ключей можно отправить в одном сообщении (пример: AB256DE5, DE8756AB)',
      androidApp: 'В разделе «Ключи» приложения есть удобный сервис управления ключами, в том числе их добавления.',
      acquiring: 'Собственникам помещения и лицам, совместно с ними проживающим, (согласно ст. 31 ЖК РФ) бездоговорные ключи-карты предоставляются бесплатно. При отсутствии документов, подтверждающих факт совместного проживания по интересующему адресу, дополнительные бездоговорные ключи собственник может приобрести в офисе компании.'
    }
block content  
  +header_min()

  .container
    .row
      .col
        h2.subheading Инструкция по использованию

  section.instruction
    
    .instruction__content
      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что такое домофон?
          p.instruction__desc
            | На подъездных дверях многоквартирного дома смонтирована система автоматически запирающих устройств, блокирующая беспрепятственный доступ посторонним.
          p.instruction__desc
            b.instruction__desc-title Обратите внимание!
            | Бытует #[strong ошибочное] мнение, что домофон располагается в квартире, поэтому некоторые собственники отказываются от заключения договора, т.к. «в квартире мне домофон не нужен». В квартире устанавливается не домофон, а лишь #[strong переговорное устройство] — пульт дистанционного управления домофоном. Обслуживание переговорного устройства — это дополнительная услуга, которая оплачивается собственником отдельно и ежемесячно. В настоящий момент стоимость этой услуги — 0 (ноль) рублей в месяц.
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_0.png", alt="image")


      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как заключить договор?
          p.instruction__desc
            b.instruction__desc-title Необходимость заключения договора
            | Для бесперебойной работы этой системы необходима регулярная его регулировка и оперативный ремонт. В этих целях мы предлагаем собственниками/нанимателям заключить договор на техническое сопровождение автоматически запирающих устройств (домофонов). С текстом договора можно ознакомиться #[a.link(href=docs.dogovor) по ссылке].
          p.instruction__desc 
            b.instruction__desc-title Два варианта регистрации договора
            | В настоящий момент мы используем два основных варианта дистанционной регистрации договора: #[a.link.link--dashed(href='#kak-zaregistrirovat-dogovor-po-parolyu', data-anchor) по паролю] и #[a.link.link--dashed(href='#chto-takoe-klyuch-novosyola', data-anchor) по ключу новосёла]. 
            br
            | О том, как это сделать, описано в следующих пунктах инструкции.

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_1.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что важно знать?
          p.instruction__desc 
            b.instruction__desc-title Согласие на СМС
            | Отправляя СМС-запросы в наш адрес, вы соглашаетесь получать СМС-сообщения информацией и прочими уведомления от ПРО ДОМОФОН. Номер телефона, с которого вы отправите СМС-сообщение с #[span.tooltips(data-tooltips=snoska.regParam) регистрационными параметрами], будет зарегистрирован в качестве контактного.

          p.instruction__desc 
            b.instruction__desc-title Обратите внимание!
            | Изначально пароли и ключи внесены во все подъезды жилого комплекса и могут открыть любую дверь, но при первом их использовании система запоминает адрес, где были приложены ключи или набраны пароли впервые (доступ в остальные адреса будет заблокирован). Не проверяйте работу ключа или пароля на других объектах, иначе затем вы не сможете попасть в свой собственный подъезд!
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_2.png", alt="image")
 
      .instruction__item#kak-zaregistrirovat-dogovor-po-parolyu
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как зарегистрировать договор по паролю?
          p.instruction__desc 
            b.instruction__desc-title В каких случаях используется?
            | Используется при смене собственника квартиры, когда новому владельцу предыдущий не передал КЛЮЧ НОВОСЕЛА.

          p.instruction__desc 
            b.instruction__desc-title Где и как получить такой пароль?
            | Как правило, в офисе управляющей организации (или в #[span.tooltips(data-tooltips=snoska.ourOffice) нашем офисе]), предъявив паспорт и документы, дающие вам право входить в подъезд, Вам выдадут #[span.tooltips(data-tooltips=snoska.tempPass) временный пароль] и инструкцию по его использованию.

          p.instruction__desc 
            b.instruction__desc-title Как начать пользоваться?
            | Под защитной полосой располагается Код Доступа, набрав который Вы сможете войти в подъезд вашего дома.
            br
            | #[em.instruction__desc-alert ВНИМАНИЕ:] #[span.tooltips(data-tooltips=snoska.beforeGetIn) Перед входом в подъезд] по этому коду #[em.instruction__desc-alert ОБЯЗАТЕЛЬНО] отправить СМС-сообщение на номер #[a.link(href="tel:"+contacts.phone.bot)= contacts.phone.bot] с содержанием:
            code.instruction__code КодДоступа [пробел] НомерКвартиры

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_3.png", alt="image")

      .instruction__item#chto-takoe-klyuch-novosyola
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что такое ключ новосёла?
          p.instruction__desc 
            b.instruction__desc-title Если после приобретения квартиры Вам передали КЛЮЧ НОВОСЕЛА
            | Ламинированная карта является #[span.tooltips(data-tooltips=snoska.accessKey) ключом доступа] в подъезд. Также на карте находится #[span.tooltips(data-tooltips=snoska.accessCode) КодДоступа], который Вы можете сообщить бригадам отделочников.

          p.instruction__desc 
            b.instruction__desc-title Как начать пользоваться?
            | Перед входом в подъезд с использование КЛЮЧА НОВОСЕЛА или КодаДоступа отправьте СМС-сообщение на номер #[a.link(href="tel:"+contacts.phone.bot)= contacts.phone.bot] с содержанием: 
            code.instruction__code КодДоступа [пробел] НомерКвартиры

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_4.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как оплатить услуги?
          p.instruction__desc Для Вашего удобства доступны 3 способа дистанционной оплаты:
          ol.instruction__desc
            li Интернет-платеж на сайте &mdash; мгновенная оплата по реквизитам пластиковой банковской карты. Перейдите #[a.link(href='payment.html') по ссылке], введите номер договора, проверьте адрес и проведите платеж.
            li Банкоматы и отделения СБЕРБАНКА &mdash; по ИНН, указанному в разделе «Реквизиты для оплаты» КЛЮЧА НОВОСЕЛА, найдите домофонную компанию, следуйте указаниям системы.
              br
              em.instruction__desc-alert ВНИМАНИЕ! При оплате через Сбербанк, в том числе «Сбербанк-Онлайн» &mdash; срок зачисления средств - до 3х РАБОЧИХ дней
            li Система ГОРОД. Через терминалы и кассы системы, а также через сайт <!--noindex--><a href='//uplati.ru/' target='_blank' rel='nofollow'>uplati.ru</a><!--/noindex-->. Все необходимые реквизиты указаны на КЛЮЧЕ НОВОСЕЛА в разделе «Реквизиты для оплаты»

          p.instruction__desc
            b.instruction__desc-title Как заключить договор?
            | Для заключения договора на тех. обслуживание #[span.tooltips(data-tooltips=snoska.azu) АЗУ] достаточно внести первый #[span.tooltips(data-tooltips=snoska.advPayment) авансовый платеж] любым выше описанным способом.


          //- p.instruction__desc 
          //-   b.instruction__desc-title Интернет (мгновенная оплата)
          //-   | Оплата #[a.link(href="payment.html") по ссылке]. Введите номер договора, проверьте адрес и оплатите картой.
          //- p.instruction__desc 
          //-   b.instruction__desc-title Банкоматы и отделения «Сбербанка» (зачисление до 3 рабочих дней)
          //-   | Также возможна оплата через систему «Сбербанк Онлайн»
          //- p.instruction__desc 
          //-   b.instruction__desc-title Система «ГОРОД» (мгновенная оплата)
          //-   | Через терминалы и кассы системы, а также через сайт 
          //-   //noindex
          //-   a.link(href="//uplati.ru", target='_blank', rel='nofollow') uplati.ru
          //-   ///noindex
          //-   | .
          //- p.instruction__desc 
          //-   b.instruction__desc-title Получение реквизитов для оплаты
          //-   | Отправьте на #[a.instruction__desc-link(href="tel:"+contacts.phone.bot)= contacts.phone.bot] с контактного телефона СМС содержанием:
          //-   br
          //-   code.instruction__code *3
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_5.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дополнительные договорные ключи?
          p.instruction__desc
            b.instruction__desc-title Где приобрести и как активировать
            | С перечнем мест продаж #[span.tooltips(data-tooltips=snoska.contractKey) договорных ключей] Вы можете ознакомиться по #[a.link(href='key-retailers.html') ссылке]. После того, как Вы дадите согласие на определение Вашего местоположения, система отсортирует адреса по удаленности от Вас.
            br
            //noindex
            | Привязка ключей к договору производится отправкой номеров ключей коротким сообщением через #[span.tooltips(data-tooltips=snoska.sms) СМС]/#[a.link(href=contacts.bots.viber) Viber]/#[a.link(href=contacts.bots.telegram) Telegram]/#[span.tooltips(data-tooltips=snoska.androidApp) Android приложение]. 
            | Ключ будет готов к использованию в течение часа. 
            ///noindex
            br
            | Внимание! Для жителей, выбравших БЕЗДОГОВОРНЫЙ вариант взаимодействия, такие ключи не подходят. Обратитесь в офис компании с документами на право собственности и паспортом для #[span.tooltips(data-tooltips=snoska.acquiring) приобретения] бездоговорных карт-ключей.

        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_6.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дистанционное управление через Viber
          p.instruction__desc
            b.instruction__desc-title Привязка Вашего Viber-аккаунта к ПРО ДОМОФОН
            //noindex
            | Для надежного общения с системой ПРО ДОМОФОН и дистанционного управления подъездной дверью пройдите регистрацию в нашем VIBER-bot. С зарегистрированного телефона перейдите по ссылке #[a.link(href=contacts.bots.viberText) Viber] и следуйте поступающим инструкциям.
            ///noindex
          p.instruction__desc
            b.instruction__desc-title Как управлять дверью через Viber?
            | После успешной регистрации в нижней части окна публичного чата ПРО ДОМОФОН появятся кнопки управления, в том числе кнопка «открыть дверь»

        .instruction__part.instruction__figure
          .instruction__img 
            //noindex
            a.instruction__desc-link(href=contacts.bots.viberText): img(src="img/content/inst_7.png", alt="image")
            ///noindex

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Android-смартфон и приложение
          p.instruction__desc
            //noindex
            b.instruction__desc-title Установка Android-приложения
            | Для установки приложения перейдите #[a.link(href=contacts.apps.android) по ссылке], воспользуйтесь QR-кодом или привычно скачайте приложение с Play Market.
            ///noindex

          p.instruction__desc
            b.instruction__desc-title Управление приложением
            | Управляйте договором, оплачивайте услуги, заказывайте техническую поддержку и ремонт, управляйте доступом в подъезд с виджета программы.
          p.instruction__desc
            img(src=contacts.apps.androidQR, alt="image").qr-code

        .instruction__part.instruction__figure
          .instruction__img 
            //noindex
            a.instruction__desc-link(href=contacts.apps.android): img(src="img/content/inst_8.png", alt="image")
            ///noindex

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Список доступных СМС-команд
          p.instruction__desc
            b.instruction__desc-title Проверка баланса и другие команды
            | Чтобы проверить баланс договора, заказать установку/подключение трубки и получить прочую информацию &mdash; в ответ на любое сообщение нашей системы отправьте знак вопроса &mdash; «?». В ответ система отправит список доступных команд.

        .instruction__part.instruction__figure
          .instruction__img 
            img(src="img/content/inst_9.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дополнительная информация
          p.instruction__desc
            b.instruction__desc-title Слишком сложно написано или не «дружите» интернетом?
            | Перезвоните по телефону контактного центра или посетите #[span.tooltips(data-tooltips=snoska.ourOffice) наш офис] в рабочее время.

          p.instruction__desc
            b.instruction__desc-title Техническая поддержка
            | Мы рады принять конструктивные предложения по улучшению нашей системы. Предложения можете отправлять по адресу электронной почты: 
            a.link(href="mailto:"+contacts.email)= contacts.email

          p.instruction__desc
            b.instruction__desc-title Сделать заявку на вызов мастера
            | При неверной работе домофона Вы можете сделать с кнопок управления Viber, Android приложения или просто позвонив по телефонам 
            a.link(href="tel:"+contacts.phone.support1) #{contacts.phone.support1}, 
            a.link(href="tel:"+contacts.phone.support2) #{contacts.phone.support2}

        .instruction__part.instruction__figure
          .instruction__img 
            img(src="img/content/inst_10.png", alt="image")
