extends ../layout/main

block head 
  - var title = 'Инструкция по использованию'
  - var bodyClass = ''
  - var pageCode = 'instruction'
block content  
  +header_min()

  .container
    .row
      .col
        h2.subheading Инструкция по использованию

  section.instruction
    .instruction__content
      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как заключить договор?
          p.instruction__desc
            b.instruction__desc-title Необходимость заключения договора
            | Итак, вы оказались обладателем квартиры в многоквартирном доме, Вам необходимо заключить договор на сопровождение автоматически запирающих устройств (домофонов). С договором можно ознакомиться #[a.link(href=docs.dogovor) по ссылке].
          p.instruction__desc
            b.instruction__desc-title Обратите внимание!
            | Бытует ошибочное мнение, что домофон располагается в квартире, поэтому некоторые собственники отказываются от заключения договора, т.к. «в квартире мне домофон не нужен». В квартире устанавливается не домофон, а всего лишь #[strong переговорное устройство (пульт дистанционного управления)]. Обслуживание переговорного устройства &mdash; это дополнительная услуга, которая оплачивается собственником отдельно и ежемесячно. В настоящий момент стоимость этой услуги &mdash; 0 (ноль) рублей в месяц. #[strong Домофон] устанавливается на входе в подъезд.

          p.instruction__desc 
            b.instruction__desc-title Два варианта регистрации договора
            | В настоящий момент мы используем несколько вариантов регистрации договора: #[a.link(href="#") по паролю] и #[a.link(href="#") по ключу новосёла]. О том, как это сделать, описано в следующих пунктах инструкции.
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_1.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что важно знать?
          p.instruction__desc 
            b.instruction__desc-title Согласие на СМС
            | Отправляя СМС-запросы в наш адрес, вы соглашаетесь получать СМС-сообщения информацией и прочими уведомления от ПРО ДОМОФОН. Номер телефона, с которого вы отправите СМС-сообщение с регистрационными параметрами, будет зарегистрирован в качестве контактного. В личном кабинете вы можете отключить СМС-уведомления от системы.

          p.instruction__desc 
            b.instruction__desc-title Обратите внимание!
            | Изначально пароли и ключи внесены во все подъезды жилого комплекса и могут открыть любую дверь, но при первом их использовании система запоминает адрес, где они были приложены или набраны впервые, и именно этот подъезд они продолжат открывать в дальнейшем. Не используйте ключ на чужих подъездах, иначе затем вы не сможете попасть в свой собственный!
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_2.png", alt="image")
 
      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как зарегистрировать договор по паролю?
          p.instruction__desc 
            b.instruction__desc-title Регистрация договора по паролю
            | Практикуется при смене собственника квартиры, когда новый владелец не имеет возможности получить ключ новосёла. Нужна для получения ключа новосела.
          p.instruction__desc 
            b.instruction__desc-title Что требуется для регистрации?
            | Для этого вам необходимо обратиться в офис вашей управляющей организации с предоставлением документов, подтверждающих ваше право входить в подъезд.
          p.instruction__desc 
            b.instruction__desc-title Как пользоваться?
            | Под защитной полосой располагается Код Доступа, при помощи которого осуществляется вход в подъезд вашего дома.#[br] #[em.instruction__desc-alert ВНИМАНИЕ:] Перед использованием пароля необходимо #[em.instruction__desc-alert ОБЯЗАТЕЛЬНО] отправить СМС-сообщение на номер телефона #[a.instruction__desc-link(href="tel:"+contacts.phone.bot)= contacts.phone.bot] с содержанием:
            code.instruction__code КодДоступа [пробел] НомерКвартиры
            br
            | Если Вы используете Код Доступа до отправки СМС, пароль будет автоматически заблокирован. Для разблокировки отправьте СМС по образцу выше, и в течение часа пароль станет активен. За 2 дня до окончания действия пароля вам поступит СМС-уведомление.
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_3.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Что такое ключ новосёла?
          p.instruction__desc 
            b.instruction__desc-title Способы доступа в подъезд с ключем новосёла
            | Сама карта является ключом доступа в подъезд. Поднесите ключ к считывателю &mdash; и дверь откроется. Также под защитным слоем находится Код Доступа, позволяющий предоставить доступ посетителям. Сотрите защитный слой и наберите 5 цифр на панели домофона &mdash; дверь откроется. Срок действия пароля &mdash; 2 месяца с начала использования.
          p.instruction__desc 
            b.instruction__desc-title Активация кода доступа
            | С целью защиты данного ключа от утери необходимо его активировать. #[em.instruction__desc-alert ВНИМАНИЕ:] Перед использование пароля необходимо #[em.instruction__desc-alert ОБЯЗАТЕЛЬНО] отправить СМС-сообщение на номер телефона #[a.instruction__desc-link(href="tel:"+contacts.phone.bot)= contacts.phone.bot] с содержанием:
            code.instruction__code КодДоступа [пробел] НомерКвартиры
            br
            | Без активации система будет считать ключ утерянным, и он будет заблокирован. Для снятия блокировки (забыли провести активацию) отправьте сообщение, и в течение 1 часа ключ начнёт работать без ограничения срока действия.
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_4.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как оплатить услуги?
          p.instruction__desc 
            b.instruction__desc-title Для заключения договора на техническое сопровождение «СКУД-ДОМОФОН»
            | Вам достаточно внести авансовый платеж в размере 500 рублей (рекомендованная сумма на несколько месяцев вперед).
          p.instruction__desc 
            b.instruction__desc-title Интернет (мгновенная оплата)
            | Оплата #[a.instruction__desc-link(href="#") по ссылке]. Введите номер договра, проверьте адрес и оплатите картой.
          p.instruction__desc 
            b.instruction__desc-title Банкоматы и отделения «Сбербанка» (зачисление до 3 рабочих дней)
            | Также возможна оплата через систему «Сбербанк Онлайн»
          p.instruction__desc 
            b.instruction__desc-title Система «ГОРОД» (мгновенная оплата)
            | Через терминалы и кассы системы, а также через сайт 
            //noindex
            a.instruction__desc-link(href="//uplati.ru", target='_blank', rel='nofollow') uplati.ru
            ///noindex
            | .
          p.instruction__desc 
            b.instruction__desc-title Получение реквизитов для оплаты
            | Отправьте на #[a.instruction__desc-link(href="tel:"+contacts.phone.bot)= contacts.phone.bot] с контактного телефона СМС содержанием:
            code.instruction__code *3
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_5.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Как приобрести/привязать дополнительные ключи?
          p.instruction__desc
            b.instruction__desc-title Приобретения дополнительных ключей
            | Вы приобретаете магнитные ключи и прикрепляете их к договору посредством СМС. Ключ будет готов к использованию в течение часа. Ближайший адрес продажи ключей вы получите в СМС или увидите в объявлении в подъезде.
          p.instruction__desc
            b.instruction__desc-title Внимание!
            | Магнитные ключи действуют #[i.instruction__desc-alert ТОЛЬКО] после заключения договора. Для жителей, выбравших БЕЗДОГОВОРНЫЙ вариант взаимодействия, такие ключи не подходят. Обратитесь в офис компании с документами на право собствености и паспортом для получения карт-ключей.
          p.instruction__desc
            b.instruction__desc-title Привязка ключей
            | После заключения договора необходимо ответить на любую из СМС, отправленных системой, указав в ответном сообщени номера ключей через запятую или пробел. Отправляйте СМС только с зарегистрированного телефона. После успешной привязки Вам будет отправлено СМС с перечнем привязанным ключей.
        .instruction__part.instruction__figure
          .instruction__img: img(src="img/content/inst_6.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дистанционное управление через Viber
          p.instruction__desc
            b.instruction__desc-title Регистрация в системе с зарегистрированного телефона
            | Для надежного общения с нашей системой и дистанционого управления подъездной дверью из популярного мессенджера пройдите регистрацию с зарегистрированного телефона, нажав на значок Viber (справа) или #[a.link(href="#") по ссылке] и следуя предложенной вам инструкции.
          p.instruction__desc
            b.instruction__desc-title Как управлять дверью через Viber?
            | Для дистанционого управления с помощью Viber вам нужно открыть страницу диалога с нашей системой и нажать на кнопку «Открыть дверь» или отправить собщение «откр».
        .instruction__part.instruction__figure
          .instruction__img 
            a.instruction__desc-link(href="#"): img(src="img/content/inst_7.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Android-смартфон и приложение
          p.instruction__desc
            b.instruction__desc-title Установка приложения
            | Для установки приложения перейдите #[a.link(href=contacts.apps.android) по ссылке],
            | нажмите на иконку приложения (слева) или воспользуйтесь QR-кодом, скачайте приложение с Play Market. Подойдет любой смартфон с OS Android.
          p.instruction__desc
            b.instruction__desc-title Управление приложением
            | Управляйте договором, оплачивайте услуги, заказывайте техническую подержку и ремонт при необходимости и управляйте доступом в подъезд напрямую с телефона.
          p.instruction__desc
            img(src="img/content/qr-code.jpg", alt="image")
        .instruction__part.instruction__figure
          .instruction__img 
            a.instruction__desc-link(href="#"): img(src="img/content/inst_8.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Список доступных СМС-команд
          p.instruction__desc
            b.instruction__desc-title Проверка баланса и другие команды
            | Проверить баланс договора и получить прочую информацию вы можете, ответив на любую из СМС, отправленных нашей системой, знаком вопроса. В ответ вам поступит список доступных команд.
          p.instruction__desc
            b.instruction__desc-title Внимание!
            | При отрицательном балансе работа внутриквартирного переговорного устройства (трубки) прекращается. Также служба техподержки не сможет отвечать на Ваши вопросы. Но электронные ключи по количеству собственников открывают дверь даже при отрицательном балансе.
        .instruction__part.instruction__figure
          .instruction__img 
            img(src="img/content/inst_9.png", alt="image")

      .instruction__item
        .instruction__part.instruction__manual
          h4.h4.instruction__title Дополнительная информация
          p.instruction__desc
            b.instruction__desc-title Инструкция для Вас сложна или Вы не «дружите» с интернетом?
            | Просто перезвоните по телефону службы технической поддержки в рабочее время (#[time Понедельник-Пятница с 10.00--18.00, обед 14:00--15:00]) или посетите наш офис по адресу: г. Иркутск, ул. Декабрьских Событий, д. 100, оф. 311 (Деловой центр «МЕГАПОЛИС», остановка «Площадь Декабристов», слева от Пенсионного фонда, белая остекленная лестница наверх).
          p.instruction__desc
            b.instruction__desc-title Техническая поддержка
            | Мы будем рады улучшить нашу систему и процесс взаимодействия. Все предложения вы можете отправлять по адресу электронной почты: #[br]
            a.instruction__desc-link(href="mailto:"+contacts.email) #{contacts.email}
            br
            | При неверной работе домофона или возникновении каких-либо вопросов, связанных с его работой, вы можете обратиться в службу технической поддержки по телефонам: <br>
            a.instruction__desc-link(href="tel:"+contacts.phone.support1) #{contacts.phone.support1}, 
            a.instruction__desc-link(href="tel:"+contacts.phone.support2) #{contacts.phone.support2}

        .instruction__part.instruction__figure
          .instruction__img 
            img(src="img/content/inst_10.png", alt="image")




































































//- 
